* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
.nav-ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 18px;
}

li a {
  text-decoration: none;
  color: #575757;
}

.common-btn {
  background-color: #1d4ed8;
  color: #ffff;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.hero-section {
  width: 100%;
  background-image:
    linear-gradient(to right, #000000, #00000066), url(./assets/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 15px 0px;
  text-align: center;
}
.heading {
  display: flex;
  gap: 5px;
  color: #ffffff;
  font-size: 40px;
  padding-top: 90px;
}

.paragraph1 {
  color: #ffffff;
  padding: 20px;
  font-size: x-large;
}

.btn2 {
  padding: 22px 50px;
  font-size: 25px;
}

.button2 {
  margin-top: 25%;
}
/* meet the speaker */
.meet-speaker h2 {
  padding-top: 60px;
  padding-bottom: 45px;
  font-size: 55px;
}
.meet-speaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 15px 0px;
  text-align: center;
}

.cards {
  display: grid;
  gap: 20px;
  border-radius: 15%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 470px;
  grid-template-areas:
    "one two"
    "three four";
  text-align: left;
}

.card {
  border: 0.5px solid #e5e7eb;
  border-radius: 15px;
  overflow: hidden;
}

.card1 {
  grid-area: one;
}
.card2 {
  grid-area: two;
}
.card3 {
  grid-area: three;
}
.card4 {
  grid-area: four;
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.trac-label {
  color: #2563eb;
  padding: 15px;
}
.company {
  color: #575757;
  padding: 15px;
}
h3 {
  color: #0d1b2a;
  padding: 5px 15px;
}

/* pricing */
.pricing {
  text-align: center;
  margin-bottom: 50px;
}

.pricing h2 {
  padding-top: 130px;
  padding-bottom: 15px;
  font-size: 55px;
  color: #0d1b2a;
}
.p-offer {
  color: #575757;
  font-size: 18px;
  padding-bottom: 35px;
}
.all-pricing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  gap: 25px;
}
.price-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
  border: 0.5px solid #e5e7eb;
  border-radius: 15px;
  overflow: hidden;
}

.price-ul {
  list-style: none;
  color: #333333;
  padding: 15px 0 15px 10px;
}
.price-ul li {
  padding: 10px 0;
}

.p-card1 {
  color: #888888;
  font-weight: 600;
  padding: 15px 0 5px 10px;
}

h4 {
  color: #0d1b2a;
  font-size: 45px;
  padding-left: 10px;
}

.p-1-3 {
  color: #888888;
  padding-left: 10px;
  padding-bottom: 15px;
}

.price-btn {
  align-self: center;
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-color: #2563eb;
  border-radius: 10px;
  color: #2563eb;
  background-color: #ffffff;
  font-weight: 600;
}
hr {
  border: none;
  border-top: 0.5px solid #888888;
}
.pro-btn {
  background-color: #2563eb;
  color: #ffffff;
}
.pro-card {
  background-color: #0d1b2a;
}
.pro-p {
  color: #93c5fd;
}
.pro-price {
  color: #ffffff;
}

.pro-ul {
  color: #ffffff;
}

.bullet {
  color: #2563eb;
}

.contact-btn {
  color: #0d1b2a;
  border-color: #0d1b2a;
}

/* place holder section */

.placeholder {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 120px;
  flex-direction: column;
  gap: 50px;
}
.venue-image {
  height: 250px;
  width: 250px;
}

.placeholder h2 {
  color: #0d1b2a;
  font-size: 55px;
  padding-top: 75px;
  padding-bottom: 55px;
}

#and {
  color: #2563eb;
}

h5 {
  color: #0d1b2a;
  padding: 15px;
  font-size: 22px;
}
.tracks-venue {
  display: grid;
  gap: 75px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 250px;
  grid-template-areas:
    "one four five eight"
    "two three six seven";
}

.venue-card1 {
  grid-area: one;
}
.venue-card2 {
  grid-area: two;
}
.venue-card3 {
  grid-area: three;
}
.venue-card4 {
  grid-area: four;
}
.venue-card5 {
  grid-area: five;
}
.venue-card6 {
  grid-area: six;
}
.venue-card7 {
  grid-area: seven;
}
.venue-card8 {
  grid-area: eight;
}

.venue-cards {
  border: 0.5px solid #e5e7eb;
  border-radius: 25px;
  overflow: hidden;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-10px) scale(1);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}
.venue-cards {
  border: 0.5px solid #e5e7eb;
  border-radius: 25px;
  overflow: hidden;

  box-shadow: 0 10px 25px #00000092;

  animation: float 4s ease-in-out infinite;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.venue-cards {
  transition: 0.3s;
}

.venue-cards:hover {
  animation-play-state: paused;
  transform: scale(1.05);

  box-shadow: 0 20px 40px #00000092;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}

/* footer */

.footer {
  background-color: #0d1b2a;
}

.footertop {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  max-width: 1280px;
  margin: auto;
  gap: 100px;
  padding: 50px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.footerdown {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 25px;
  color: #ffffff;
}
