* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 18px;
}

li a {
  text-decoration: none;
  color: #575757;
}

.common-btn {
  background-color: #1d4ed8;
  color: #ffff;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.hero-section {
  width: 100%;
  background-image:
    linear-gradient(#00000080, #00000080), url(./assets/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 15px 0px;
  text-align: center;
}
.heading {
  display: flex;
  gap: 5px;
  color: #ffffff;
  font-size: 40px;
  padding-top: 90px;
}

.paragraph1 {
  color: #ffffff;
  padding: 20px;
  font-size: x-large;
}

.btn2 {
  padding: 22px 50px;
  font-size: 25px;
}

.button2 {
  margin-top: 25%;
}

.meet-speaker h2 {
  padding-top: 60px;
  padding-bottom: 45px;
  font-size: 55px;
}
.meet-speaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 15px 0px;
  text-align: center;
}

.cards {
  
  display: grid;
  gap: 20px;
  border-radius: 15%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 470px;
  grid-template-areas:
    "one two"
    "three four";
  text-align: left;
}

.card {
  border: 0.5px solid #e5e7eb;
  border-radius: 15px;
  overflow: hidden;
}

.card1 {
  grid-area: one;
}
.card2 {
  grid-area: two;
}
.card3 {
  grid-area: three;
}
.card4 {
  grid-area: four;
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.trac-label {
  color: #2563eb;
  padding: 15px;
}
.company {
  color: #575757;
  padding: 15px;
}
h3 {
  color: #0d1b2a;
  padding: 5px 15px;
}
